<mat-card class="example-card" appearance="outlined">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      <strong>Deadpool & Wolverine</strong>
    </p>
    <p>Lancamento: 23/07/2024</p>
    <p>Nota:<strong> 10</strong></p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-flat-button href="movies/2">Ver Detalhes</a>
    <a mat-flat-button href="/">Adicionar a lista</a>
  </mat-card-actions>
</mat-card>
