<mat-card class="example-card" appearance="outlined">
  <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + movieData.poster_path" [alt]="movieData.title">
  <mat-card-content>
    <p>
      <strong>{{movieData.title}}</strong>
    </p>
    <p>Lançamento: {{movieData.release_date}}</p>
    <p>Nota:<strong> {{movieData.vote_average | fixed:1 }}</strong></p>
  </mat-card-content>
  <mat-card-actions class="btns">
    <a mat-flat-button [routerLink]="['/movies', movieData.id]">Ver Detalhes</a>
    <button mat-stroked-button (click)="deleteMovie(movieData.id)">Remover</button>
  </mat-card-actions>
</mat-card>