.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-form h3 {
  font-size: 1.8rem;
  margin: 0;
}

.example-full-width {
  width: 100%;
}

.center {
  display: flex;
  gap: 1rem;
}

/* --------------  MEDIA QUERIES ----------------  */
@media (max-width: 490px) {
  .example-form {
    max-width: 400px;
  }
}

@media (max-width: 450px) {
  .example-form {
    max-width: 350px;
  }

  .center {
    gap: 0.5rem;
  }
}
