<section>
  <div class="title">
    <h1>Catálogo de Filmes</h1>
  </div>
  <div class="form">
    <app-movie-form (adicionar)="addMovie($event)"></app-movie-form>
  </div>
  <div class="order">
    <p>Ordenar por:</p>
    <button mat-stroked-button (click)="nameSort()">Nome</button>
    <button mat-stroked-button (click)="rateSort()">Nota</button>
  </div>
  <div class="content">
    <app-card *ngFor="let movie of movies" [movieData]="movie" (deletar)="deleteMovie($event)"></app-card>
  </div>
  <button class="scroll-up" (click)="scrollToTop()" *ngIf="showScrollUpButton">
    <mat-icon fontIcon="arrow_upward"></mat-icon>
  </button>
</section>
